* {
  box-sizing: border-box;
}

body {
  background-color: #131720;
}

.topnav {
  overflow: hidden;
  background-color: #131720;
  padding: 10px;
}

.main-name {
  display: block;
  color: white;
  float: left;
  text-decoration: none;
  font-size: 20px;
  padding: 14px 16px;
}

.search-container {
  float: right;
}

.topnav form {
  background-color: black;
  width: 300px;
  height: 45px;
  border-radius: 11px;
  align-items: center;
  display: flex;
}

.topnav input {
  all: unset;
  font: 15px system-ui;
  color: white;
  height: 100%;
  width: 100%;
  padding: 6px;
}

.poster {
  height: 85%;
  width: 100%;
  border-radius: 25px;
  padding: 16px 12px;
}

.col {
  float: left;
  width: 25%;
}

.card {
  background-color: #151f30;
  height: 450px;
  width: 300px;
  border-radius: 20px;
  text-align: center;

}

.card h3 {
  color: white;
  padding-bottom: 14px;
}
